# DB Env
DB_HOST=localhost
DB_USER=server_user
DB_PASSWORD=password
DB_DATABASE=recipedb

# Other env
PORT=3000
NODE_ENV=production

# jwt
ACCESS_TOKEN_SECRET=changeme
REFRESH_TOKEN_SECRET=changeme
JWT_EXPIRE_IN=5h