.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex: 1;
}

.children {
    flex: 1;
    display: flex;
    margin: 0;
}
.centered {
    justify-content: center;
    padding-top: 10px;
}