.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex: 1;
}

.children {
    flex: 1;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}