.navbar{
    display: flex;
    width: 100%;
    padding: 5px 40px;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    border-bottom: 2px solid var(--accent, #36869F);
    background: var(--text-background, #FFF);
    height: min-content;
    box-sizing: border-box;
}
.buttons{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 10px;
    width: max-content;
}
.searchbar {
    flex: 3;
    display: flex;
}
.searchbar div{
    width: 100%;
    display: inline-block;
}
.searchbar input{
    display: inline-block;
    width: 80%;
}
.logo {
    flex: 1;
    padding: 0;
    margin: 0;
}
.logo:hover {
    color: var(--accent, #36869F);
    cursor: pointer;
}
.logo h2{
    text-wrap: none;
}