.sidebar{
    background-color: var(--text-background);
    display: inline-flex;
    flex-direction: column;
    max-width: 350px;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 17px;
}
.navbutton:hover{
    color: var(--accent);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}