.button {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--accent);
    border-radius: 2px;
    background-color: var(--accent);
    color: var(--white-text);
    text-align: center;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;

}
.primary {
    background-color: var(--accent);
}
.primary:hover {
    background-color: var(--secondary-accent);
    color: var(--dark-text);
    border-color: var(--secondary-accent);
}
.ingredient {
    background-color: var(--text-background);
    color: var(--dark-text);
}
.ingredient:hover {
    background-color: var(--secondary-accent);
    border-color: var(--dark-text);
}
.hyperlink {
    padding: 0;
    margin: 0;
    color: var(--accent);
    background: none;
    border: none;

}
.hyperlink:hover {
    color: var(--secondary-accent);
}