.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    width: 100%;
}
.searchresults{
    display: flex;
    border-top: 1px solid var(--accent);
    width: 100%;
    box-sizing: border-box;
    height: 200px;
    padding: 5px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
    overflow-y: scroll;
    background-color: var(--site-background);
}
.searchresultswrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 2px solid var(--accent, #36869F);
    background: var(--text-background, #FFF);
    padding-top: 5px;
}
.choseningredients{
    display: flex;
    height: 205px;
    padding: 10px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
    border: 2px solid var(--accent, #36869F);
}
.title{
    display: block;
    width: 100%;
}