@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --accent: rgba(54, 134, 159, 1);
  --dark-text: rgba(29, 29, 53, 1);
  --error: rgba(194, 28, 28, 1);
  --favourite: rgba(198, 47, 137, 1);
  --input-placeholder: rgba(128, 128, 128, 1);
  --secondary-accent: rgba(242, 168, 25, 1);
  --site-background: rgba(217, 217, 217, 1);
  --text-background: rgba(255, 255, 255, 1);
  --white-text: rgba(245, 245, 245, 1);

  font-family: Inter, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body {
  background-color: var(--site-background);
}

h1 {
  font-family: Inter, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

